---
const parentCheckbox = {
	id: "parent-jquery",
	label: "Parent",
};

const childCheckboxItems = [
	{ id: "child1-jquery", label: "Child 1" },
	{ id: "child2-jquery", label: "Child 2" },
	{ id: "child3-jquery", label: "Child 3" },
];
---

<div class="checkbox-demo" data-checkbox-container>
  <div>
    <input type="checkbox" id={parentCheckbox.id}>
    <label for={parentCheckbox.id}>{parentCheckbox.label}</label>
  </div>

  <div class="checkbox-children">
    {childCheckboxItems.map(item => (
      <div>
        <input type="checkbox" id={item.id}>
        <label for={item.id}>{item.label}</label>
      </div>
    ))}
  </div>
</div>

<script>
import $ from 'jquery';

$('[data-checkbox-container]').each(function() {
  const $container = $(this);
  const $parent = $container.find('input:first');
  const $children = $container.find('.checkbox-children input');

  function updateParent() {
    const total = $children.length;
    const checked = $children.filter(':checked').length;
    
    $parent.prop('checked', checked === total);
    $parent.prop('indeterminate', checked > 0 && checked < total);
  }

  $parent.on('change', () => {
    $children.prop('checked', $parent.prop('checked'));
  });

  $children.on('change', updateParent);
});
</script> 